<nav>
    <div class="site-title">
      <a href="/"><h1>Online Vidyamandir</h1></a>
      <p>Ramakrishna Mission Vivekananda Vidyamandir, Malda - Online Portal</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>