<!DOCTYPE html>
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    
    <h1>This is About Page of <br>Ramakrishna Missin V. Vidyamandir, Malda</h1>
</body>
</html>