<!DOCTYPE html>
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <style> 
       
        .hyper-div{
            padding: 20px;
            text-align: center;
            border: 1px solid black;
            display: inline-block;
        }
    </style>

    <div>
        <a href="/student"><div class="hyper-div">Goto Student Page</div></a>
        <a href="/staff"><div class="hyper-div">Goto Staff Page</div></a>
    </div>

   
    
</body>
</html>